@page "/"

<PageTitle>FlavorMatch</PageTitle>

@*FlavorMatch is like Tinder, but for finding your next delicious dish. 
Swipe right on dishes you like, left on dishes you don't, and we'll find you the perfect recipe.
You can filter for a specific item, for example rice or pasta, as well as choosing to only show dishes that contain what items you already have at home.*@

<div class="text-center">
	<img src="http://sebh.dk/wp-content/uploads/2024/04/FlavorMatchLogo.png" class="img-fluid" alt="FlavorMatch" />
	<div class="container d-flex justify-content-center align-items-center" style="width: 540px; height: 400px; background-color: #FFFFFF;">
		<img src="https://www.allrecipes.com/thmb/FL-xnyAllLyHcKdkjUZkotVlHR8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/46822-indian-chicken-curry-ii-DDMFS-4x3-39160aaa95674ee395b9d4609e3b0988.jpg" class="img-fluid mx-auto" alt="DishName" />	
	</div>

	<div class="container d-flex justify-content-center align-items-center" style="width: 540px; height: 100px; background-color: #FFFFFF;">
		<h1 class="text" style="color: #25B6FB; ">Chicken Biryani</h1>
	</div>

	<div class="row justify-content-center" style="padding-top: 20px;">
		<div class="row justify-content-center">
			<div class="col-2" style="padding: 0px 0px;">
				<button class="btn btn-danger" style="width: 100px; background: none; border: none;">
					<img src="http://sebh.dk/wp-content/uploads/2024/04/CrossX.png" class="img-fluid" alt="Dislike" />
				</button>
			</div>
			<div class="col-2" style="padding-block: 0px 0px;">
				<button class="btn btn-success" style="width: 100px; background: none; border: none;">
					<img src="http://sebh.dk/wp-content/uploads/2024/04/GreenHeart.png" class="img-fluid" alt="Like" />
				</button>
			</div>
		</div>
	</div>
</div>

